ammper64/Web References/com.facturainteligenteintegraciones/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://facturainteligenteintegraciones.com/WcfAmmper_TEST/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://facturainteligenteintegraciones.com/WcfAmmper_TEST/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://facturainteligenteintegraciones.com/WcfAmmper_TEST/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAmmper" />
      <xsd:import schemaLocation="http://facturainteligenteintegraciones.com/WcfAmmper_TEST/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_TimbrarTxt_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarTxt" />
  </wsdl:message>
  <wsdl:message name="IService1_TimbrarTxt_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarTxtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Sellar_InputMessage">
    <wsdl:part name="parameters" element="tns:Sellar" />
  </wsdl:message>
  <wsdl:message name="IService1_Sellar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerPorReferencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorReferencia" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerPorReferencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorReferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelarCFDI_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCFDI" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelarCFDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCFDIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerPorUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorUUID" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerPorUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerComprobantesPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerComprobantesPeriodo" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerComprobantesPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerComprobantesPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPDF" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="TimbrarTxt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TimbrarTxt" message="tns:IService1_TimbrarTxt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TimbrarTxtResponse" message="tns:IService1_TimbrarTxt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sellar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sellar" message="tns:IService1_Sellar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SellarResponse" message="tns:IService1_Sellar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorReferencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerPorReferencia" message="tns:IService1_ObtenerPorReferencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerPorReferenciaResponse" message="tns:IService1_ObtenerPorReferencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CancelarCFDI" message="tns:IService1_CancelarCFDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CancelarCFDIResponse" message="tns:IService1_CancelarCFDI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorUUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerPorUUID" message="tns:IService1_ObtenerPorUUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerPorUUIDResponse" message="tns:IService1_ObtenerPorUUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerComprobantesPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerComprobantesPeriodo" message="tns:IService1_ObtenerComprobantesPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerComprobantesPeriodoResponse" message="tns:IService1_ObtenerComprobantesPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerPDF" message="tns:IService1_ObtenerPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerPDFResponse" message="tns:IService1_ObtenerPDF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbrarTxt">
      <soap:operation soapAction="http://tempuri.org/IService1/TimbrarTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sellar">
      <soap:operation soapAction="http://tempuri.org/IService1/Sellar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorReferencia">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerPorReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDI">
      <soap:operation soapAction="http://tempuri.org/IService1/CancelarCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorUUID">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerPorUUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerComprobantesPeriodo">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerComprobantesPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPDF">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://facturainteligenteintegraciones.com/WcfAmmper_TEST/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>