ammper64/Web References/com.facturainteligenteintegraciones/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAmmper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAmmper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://facturainteligenteintegraciones.com/WcfAmmper_TEST/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Peticion">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoPDF" type="tns:TipoPDF" />
      <xs:element minOccurs="0" name="cadenaAddenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cadenaComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cadenaTXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datosG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pdf" type="xs:boolean" />
      <xs:element minOccurs="0" name="productivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="rfcEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoAddenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCFDI" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Peticion" nillable="true" type="tns:Peticion" />
  <xs:simpleType name="TipoPDF">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GENERICO_CENACE" />
      <xs:enumeration value="GENERICO" />
      <xs:enumeration value="Recibo" />
      <xs:enumeration value="GENERICO_CENACE_NOTAS" />
      <xs:enumeration value="GENERICO_PAGOS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoPDF" nillable="true" type="tns:TipoPDF" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoConfirmacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorEspecifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorGeneral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="pdf" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xmlTimbrado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="RespuestaCancelacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="acuseCancelacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="mensaje_error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaCancelacion" nillable="true" type="tns:RespuestaCancelacion" />
  <xs:complexType name="RespuestaLista">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="comprobantes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="exito" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaLista" nillable="true" type="tns:RespuestaLista" />
</xs:schema>