ammper64/Connected Services/s_wspci/wspci.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEstadoDeCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Interconexion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subcuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEstadoDeCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEstadoDeCuentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subcuenta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getExtractResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getEstadoDeCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:getEstadoDeCuenta" />
  </wsdl:message>
  <wsdl:message name="getEstadoDeCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:getEstadoDeCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="getExtractSoapIn">
    <wsdl:part name="parameters" element="tns:getExtract" />
  </wsdl:message>
  <wsdl:message name="getExtractSoapOut">
    <wsdl:part name="parameters" element="tns:getExtractResponse" />
  </wsdl:message>
  <wsdl:portType name="wspciSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEstadoDeCuenta">
      <wsdl:input message="tns:getEstadoDeCuentaSoapIn" />
      <wsdl:output message="tns:getEstadoDeCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getExtract">
      <wsdl:input message="tns:getExtractSoapIn" />
      <wsdl:output message="tns:getExtractSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wspciSoap" type="tns:wspciSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadoDeCuenta">
      <soap:operation soapAction="http://tempuri.org/getEstadoDeCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExtract">
      <soap:operation soapAction="http://tempuri.org/getExtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wspciSoap12" type="tns:wspciSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadoDeCuenta">
      <soap12:operation soapAction="http://tempuri.org/getEstadoDeCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExtract">
      <soap12:operation soapAction="http://tempuri.org/getExtract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wspci">
    <wsdl:port name="wspciSoap" binding="tns:wspciSoap">
      <soap:address location="http://201.162.182.189/ws_axis_prod/wspci.asmx" />
    </wsdl:port>
    <wsdl:port name="wspciSoap12" binding="tns:wspciSoap12">
      <soap12:address location="http://201.162.182.189/ws_axis_prod/wspci.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>